*{  
   margin: 0;
   padding: 0;
}

.navbar{
    background-color: black;
    padding: 20px;
    display: flex;
    gap: 40px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}